body {
    background-color: powderwhite;
    border-style: solid;
  }

  div {
  margin-bottom: 100px;
  margin-left: 20px;
  }

  h1 {
    height: 50px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgba(209, 12, 12, 0.932);
    background-color:rgba(183, 221, 120, 0.705);
    font-size: 40px;
  }

  h4 {
    background-color:paleturquoise;
  }

  #p1 {
    background-color: rgba(238, 238, 148, 0.822);
  }

  #p2 {
    color: maroon;
  }

  #t1 {
    text-decoration-line: underline;
  }

  img {
    border-style: groove;
  }